<!DOCTYPE html>
<html>
  <head>
    <title>Harshini Academy</title>
    {% include 'bootstrap.html' %}
    
    </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
   <h1 class="text-center mt-2 mb-4">  Welcome to Harshini Academy</h1>
     {% include 'banner.html' %}
    <h2 class="text-center"> Privacy Policy </h2>
    <p class="lead">
      Privacy policy is a legal document that describes how a website 
      collects, uses, retains, and discloses the personal 
      information of its users. It outlines what information is 
      collected, how it is used, and the measures taken to protect 
      the user's data. A website's privacy policy should be transparent, 
      detailed, and accessible to users. It is important 
      for websites to have a privacy policy to build trust with their 
      visitors and to comply with legal requirements. Users 
      should review a website's privacy policy before submitting any 
      personal information...
    </p>
      <p>
        <h2 class="text-center mt-2 mb-4"> Courses Available:</h2>
      </p>
      <div>
        {% for job in jobs %}
        {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      </div>
    <div class="text-center" >
       <a target="_blank" type="button" class="btn btn-outline-success" href="mailto:website0090@gmail.com?subject=Questions%20About%20Coures&body=My%20Name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20Question%3A%20%3Cyour%20question%20here%3E%0D%0A">Contact Us</a>
      <p class="text-center">Contact as from mail</p>
        
      </div>
    {% include 'fotter.html' %}
  </body>
</html>